/* MAIN STYLES */

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-text-size-adjust: 100%;
    text-rendering: optimizeLegibility;
}

.row, .contact_page {
    flex: 1;
}

ul li {
    list-style-type: none;
}

/* --- NAVIGATION --- */

nav.navbar {
    background-color: #fcfcf6;
}

nav.navbar div {
    justify-content: flex-end;
}

/* --- JUMBOTRON --- */

div.jumbotron {
    background-color: #fcfcf6;
    padding: 4rem 2rem 0rem 2rem;
    margin-bottom: 0;
}

h2.introduction {
    font-weight: normal;
    text-align: center;
    line-height: 1.5;
}

div.down-arrow {
    width: 100%;
    max-width: 30em;
    margin: 3em auto;
}

div.down-arrow i {
    display: block;
    text-align: center;
    margin: 0 auto;
    font-size: 2.5em;
}

/* --- PORTFOLIO --- */

div.portfolio-snippets {
    display: flex;
    flex-direction: row;
    width: 100%;
}

div.portfolio-snippets div {
    display: inline-block;
    width: 100%;
}

div.portfolio-snippets div a,
div.portfolio-snippets div a h3 {
    display: inline-block;
    width: 100%;
    max-width: 5em;    
}

div.portfolio-snippets div a:hover, div.portfolio-snippets div a:focus {
    text-decoration: none;
}

div.portfolio-snippets div a h3 {
    color: #000; 
}

div.portfolio-snippets div a:hover h3 {
    text-decoration: none;
    color: cadetblue;
}

div.portfolio-snippets i {
    display: inline-block;
    justify-content: flex-end;
    width: 100%;
    max-width: 2em;
    font-size: 1.5em;
    text-decoration: none;
}

div.card > div.collapse {
    margin: 3em;
}

div.card-block {
    border-left: 1px solid #000;
}

/*div.portfolio-snippets a:hover {
    text-decoration: none;
}*/



