/* MAIN STYLES */

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-text-size-adjust: 100%;
    text-rendering: optimizeLegibility;
}

.row, .contact_page {
    flex: 1;
}

ul li {
    list-style-type: none;
}

img.img-circle {
    border-radius: 50%;
}

/* --- NAVIGATION --- */

nav.navbar {
    background-color: #fcfcf6;
}

nav.navbar div {
    justify-content: flex-end;
}

/* --- JUMBOTRON --- */

div.jumbotron {
    background-color: #fcfcf6;
    padding: 4rem 2rem 0rem 2rem;
    margin-bottom: 0;
}

h2.introduction {
    font-weight: normal;
    text-align: center;
    line-height: 1.5;
}

div.down-arrow {
    width: 100%;
    max-width: 30em;
    margin: 3em auto;
}

div.down-arrow i {
    display: block;
    text-align: center;
    margin: 0 auto;
    font-size: 2.5em;
}

/* --- PORTFOLIO --- */

div.portfolio-snippets {
    display: flex;
    flex-direction: row;
    width: 100%;
}

div.portfolio-snippets div {
    display: inline-block;
    width: 100%;
}

div.portfolio-snippets a {
     margin: 0 auto;
     width: 100%;
     max-width: 2em;
}

div.portfolio-snippets div a,
div.portfolio-snippets div a h3 {
    display: inline-block;
    width: 100%;
    max-width: 5em; 
}

div.portfolio-snippets div a:hover, 
div.portfolio-snippets div a:focus {
    text-decoration: none;
}

div.portfolio-snippets div a h3 {
    color: #000; 
}

div.portfolio-snippets div a:hover h3 {
    text-decoration: none;
    color: cadetblue;
}

div.portfolio-snippets i {
    display: inline-block;
    justify-content: flex-end;
    width: 100%;
    max-width: 2em;
    font-size: 1.5em;
    text-decoration: none;
}

div.portfolio-snippets > a {
    display: inline-block;
    width: 100%;
    max-width: 4.5em;
    margin: 0 auto;
    text-align: center;
    color: #000;
}

/* --- PORTFOLIO SNIPPETS --- */

div.card div > div.card-block {
    margin: 2.5em;
}

div.card-block {
    border-left: 1px solid #000;
}

/* --- SECTION FUNDRAISING --- */

section.fundraising div.row {
    margin: 3em auto;
}

section.fundraising div.row div {
    padding: 0;   
}

section.fundraising div.row div:nth-child(2) h3 {
    margin: .75em auto 1em auto;
}

section.fundraising h2,
section.fundraising h3,
section.fundraising ul {
    text-align: center;
}

section.fundraising h2 {
    font-size: 1rem;
    font-weight: bold;
    text-transform: uppercase; 
}

section.fundraising h3 {
    font-weight: 300;
    line-height: 1.5;
}

/* --- QUOTE --- */

section.quote-img {
    background-image: url("http://via.placeholder.com/500x300");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    margin-bottom: 0;
}

section.quote-img figure h3 {
    margin: 0.75em auto;
    font-weight: 300;
}

section.quote-img figcaption {
   text-align: right; 
}

/* --- ABOUT QWEN --- */

section.about > div.row div:first-child {
    display: block;
    width: 100%;
    max-width: 15em;
    margin: 3em auto;  
}

section.about > div.row div h2 {
    font-size: 1rem;
    font-weight: 700;
    text-transform: uppercase;
}








